<div class="section-menu">
    <h1 class="title-menu">{{product}}</h1>
    <h2>{{title}}</h2>
    <img src="{{image}}" alt="{{title}}" width="300">
    <h3>ingredients:</h3>
    <ul class="menu-list">
        {{#each ingredients}}
        <li>ingredients: {{this}}</li>
        {{/each}}
    </ul>
    <p>Price:{{price}}</p>
</div>

